* {
    margin: 0;
    padding: 0;

    list-style: none;
    text-decoration: none;
    
    font-family: 'Rubik', sans-serif;

    color: var(--primary-font-color);
  }
.style-menu{
  gap: 10px;
    display: flex;
    align-items: center;
}

@font-face {
  font-family: "Rubik";
  src: url('../font/Poppins-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
